{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}

<section class="about">
    <div class="container">
        <h1>О нас</h1>
        <div class="about_flex">
            <div class="about_text">
                <p>Столярная мастерская «Promast» существует с 2000 года. Наши изделия знают от Волгограда до
                    Санкт-Петербурга.
                    Мы используем древесину как мягких (сосна, липа и т.д.) так и твёрдых пород (дуб, ясень и т.д.).
                    Выезжаем на замеры, делаем монтаж, изготавливаем изделия по размерам заказчика, предоставляем
                    чертежи и
                    проекты. При покраске используем только высококачественные лакокрасочные материалы (Италия,
                    Германия).
                    Патинируем, брошируем древесину, работаем по проектам дизайнеров. Широкий спектр изделий
                    (изготовление
                    дверей, лестниц, балок, кабинетов, плинтусов, мебели и т.д.) позволяет сделать интерьер квартир и
                    домов,
                    единым целым. Использование резьбы позволяет добавить индивидуальности и красоты. Также у нас
                    большой
                    опыт по работе с храмами и монастырями. Мы делаем проекты иконостасов, киотов и всей церковной
                    мебели,
                    согласовываем, изготавливаем и монтируем. Большой выбор деревянных икон. Также большой выбор
                    эксклюзивных и состаренных изделий на заказ.</p>
            </div>
            <div class="about_img">
                <img src="{% static 'portfolio/about.jpg' %}" alt="">
            </div>
        </div>

    </div>

</section>

{% endblock %}