{% extends 'portfolio/base.html' %}

{% block content %}

<section class="block__search">
  <div class="container">
    <form id="search" class="search__form" action="{% url 'catalog' %}" method="get">
      <div class="form__field">
        <input class="input__text" type="text" name="search_query" value="{{search_query}}"
               placeholder=" Введите запрос..."/>
        <input class="search__btn" type="submit" value="Поиск"/>
      </div>
    </form>
  </div>
</section>

<section class="block__works">
  <div class="container">
    <div class="works">
      {% for work in works %}
      <div class="element">
        <div>
          <img src="{{ work.image_1.url }}" alt="image">
        </div>
        <div class="text">
          <h2>{{ work.title }}</h2>
          <p><span class="material">Материал:</span> {{ work.material }}</p>
          <p class="price">{{ work.price }} &#8381</p>
          <div class="btn">
            <a href="{% url 'work-main' work.id %}">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


{% include 'portfolio/pagination.html' with queryset=works custom_range=custom_range %}
{% endblock %}