{% extends 'portfolio/base.html' %}

{% block content %}
<section class="block__contact">
    <div class="container">
        <div style="text-align: center" class="contact__text">
            <h2>Контактная информация</h2>
        </div>        
        <div class="contact__page">
            <div class="contact__left">
                <div class="item">
                    <a href="https://goo.gl/maps/aMK4GsuZt7yASWKn7" target="_blank"><i class="icon fas fa-home"></i>Челябинск, ул. Коммуны, 143</a>
                </div>
                <div class="item">
                    <a href="tel:+79999999999"><i class="icon fas fa-phone"></i>+7 999 999 99 99</a>
                </div>
                <div class="item">
                    <i class="icon fas fa-envelope"></i>email@address.com                    
                </div>
                <div class="item">
                    <i class="icon fas fa-clock"></i>Пн - Пт с 8:00 до 18:00                    
                </div>
            </div>
            <div class="contact__right">
                <div class="item">
                    <a href="#"><i class="fa-brands fa-telegram"></i>Телеграм</a>                   
                </div>
                <div class="item">
                    <a href="#"><i class="fa-brands fa-instagram"></i>Инстаграм</a>
                </div>
                <div class="item">
                    <a href="#"><i class="fa-brands fa-vk"></i>Вконтакте</a>                    
                </div>
                <div class="item">
                    <a href="#"><i class="fa-brands fa-youtube"></i>YouTube</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div id="map" style="width:100%;height:500px">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11710.475750741769!2d61.36213268344552!3d55.15981094688702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c592c73fabc8e3%3A0x8e9bdd1f361cb6d1!2z0YPQuy4g0JrQvtC80LzRg9C90YssIDE0Mywg0KfQtdC70Y_QsdC40L3RgdC6LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4sIDQ1NDA4MA!5e0!3m2!1sru!2sru!4v1683625124185!5m2!1sru!2sru"
                        width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="column">
                <p class="cont" >ОБРАТНАЯ СВЯЗЬ</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="login__btn">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
